params {

    // Input options
    input = '/nfs/production/rdf/metagenomics/users/vangelis/mgnifams/output/families/seed_msa_sto'

    // Boilerplate options
    outdir           = '/nfs/production/rdf/metagenomics/users/vangelis/mgnifams_hh_db'
    publish_dir_mode = 'copy'
}
    
// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {

    slurm {
        executor {
            name              = "slurm"
            queueSize         = 30
            queueGlobalStatus = true
        }
        singularity.cacheDir = "/hps/scratch/singularity/$USER"
        conda.cacheDir       = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/miniconda3/envs"
        process {
            queue  = 'standard'
            cache  = "lenient"
        }
        workDir = "/hps/nobackup/rdf/metagenomics/service-team/users/vangelis/work_mgnifams_hh_db/"
    }
    singularity {
        singularity.enabled     = true
        singularity.pullTimeout = "3 hours"
    }
    conda {
        conda.enabled = true
    }
    wave {
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
        wave.build.repository   = 'docker.io/vagkaratzas'
    }
    test_local { includeConfig 'conf/test_local.config' }

}

docker.registry = 'quay.io'

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
