/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running local tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a local pipeline test.

    Use as follows:
        nextflow run ebi-metagenomics/mgnifams -profile test_local

----------------------------------------------------------------------------------------
*/

singularity.cacheDir = "/home/vangelis/Desktop/Tools/singularity"
conda.cacheDir       = "/home/vangelis/miniconda3/envs"

params {

    // Input options
    input = "/home/vangelis/Desktop/Projects/mgnifams/output/families/seed_msa_sto"
    
    // Boilerplate options
    outdir = "${launchDir}/output"

}
